<html>
<head>
  <style>
    h3 {
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-size: 2.5em;
    }
  </style>
</head>
<body>
<h2 align= 'center'> Edit The Article</h2>

<%= render 'form' %>
</body>
</html>