<h1> This is how Your article created</h1>
<p> Tilte: <%= @article.Title %></p>
<p> Description: <%= @article.Description %></p>
<p>
    <%= link_to 'Back', articles_path %> |
    <%= link_to 'edit',edit_article_path %>
  </p>
