<!DOCTYPE HTML>
<HTML>
  <HEAD>
    <TITLE>About Pages</TITLE>
    <meta charset UTF=8>
    <STYLE>
    h2 {text-align:center;}
    p  {color:blue;}
    body {background-color:grey;}
    </STYLE>
  </HEAD>
  <BODY>
    <h2 text-align = center>ALPHA BLOG</h2>
    <pre>
      <p> hey this is my first blog </p>
    <p> let me know if you have any questions in my messenger box</p>
    <p> keep smiling</p>
    <p> bye!!bye!!</p>
    </pre>
  </BODY>
</HTML>


<%=link_to 'Home',root_path %>