
<!--<div class="page-header">-->
<!--  <h1>Example page header <small>Subtext for header</small></h1>-->
<!--</div>-->





<div class="centre jumbotron">
  <h1>Alpha-blog</h1>
  <%= link_to "sign-up now",'#',class: "btn btn-default btn-lg btn-xlarge"%> 
  
</div>





