<div class="container">
  <footer class="footer">
<small>
  copyrights <a href "www.w3schools.com">this is the first blog</a>
  by <a href "www.rams.com">rambola</a>
</small>
<nav>
  <ul>
<li><%= link_to "About",about_path %></li>
</ul>
</div>
</nav>
</footer>